@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.league-spartan-thin {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  
.league-spartan-normal {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


  
.league-spartan-bold {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }



  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  
  .roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  .hero {
    padding: 36px 0;
  }

  .hero h1 {
    line-height: 75px;
  }

.mobile-links a {
  min-width: 200px;
}

.hero-section-swiper {
  padding:200px 0 !important
}



.hero-section-swiper .swiper-slide {
  height: 272px !important;
}



.product-img {
  width: 339px;
  object-fit: contain;
  height: 335px;
  margin: 20px 0;
}

.product-card {
  margin: 30px 40px;
  padding: 40px;
  border-radius: 20px;
}

.product-card:hover {
  box-shadow: 10px 20px 30px rgba(0,0,0,0.2);
  transition: all 2s ease;

}


